<%- include('../partials/header', { user }) %>

<h3> Hey, <%= user.email %>  Welcome!</h3>
<% if(data.length > 0){data.forEach(fave=>{%>
    <%=fave.strFaveThumb  %>
    <div class="card" style="width: 18rem;">
        <img src="<%= fave.strMealThumb %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%=fave.strMeal  %></h5>
          <p class="card-text"><%=fave.strCategory  %> </p>
          <p class="card-text"><%=fave.strInstructions %></p>
            <form action="/recipes/:id" method="POST">
              <input type="hidden" name="_method" value="put" />
              <input type="hidden" value="<%=fave.idMeal  %> " name="recipeId">
              <input type="hidden" value="1" name="remove">
            <button type="submit" class="btn btn-danger">Remove from favorites</button></form>
        </div>
      </div>
<% })} %> 

<%- include('../partials/footer') %>